.contact{
    position:absolute;
    margin:0;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    left: 220px;
    top: -55px;
    z-index: 3;
    display: none;
}
.i{
    width: 20px;
    margin:0 5px;
}
.contact span{
   transform: translate(50px,0px);
    display: inline-block;
    color: gray;
    font-size: 1.5em;
    
}
.contact h1{
font-size: 1em;
display: block;
margin-top: 0;
margin:5px 0;
text-align: left;
}
.contactTag:hover .contact{
    display: block;
}
.totalPrice{
    display: flex;
    justify-content: space-around;
}
