.recNicoise:hover{
    background-image: url('../Modal_Img/saladeNicoiseRapide.jpg');
}
.recMéditerranéenne:hover{
    background-image: url('../Modal_Img/saladeMediterraneenne.jpg');
}
.recWaldorf:hover{
    background-image: url('../Modal_Img/saladeWaldorf.jpg');
}
.recChévreChaux:hover{
    background-image: url('../Modal_Img/saladeChevreChaud.jpg');
}
.Croissant:hover,#Croissant:checked + label{
    background-image: url('../Modal_Img/croissant.png');
}
.Cake:hover,#Cake:checked + label{
    background-image: url('../Modal_Img/cake.jpeg');
}
.Oeuf_brouillé:hover,#OeufBrouillé:checked + label{
    background-image: url('../Modal_Img/oeuf.jpeg');
}
.Granola:hover,#Granola:checked + label{
    background-image: url('../Modal_Img/granola.jpg');
}
.Bruschetta:hover,#Bruschetta:checked + label{
    background-image: url('../Modal_Img/bruschettas.jpeg');
}
.Pancake:hover,#Pancake:checked + label{
    background-image: url('../Modal_Img/pancake.jpg');
}
.ingSupp ul li input:checked +label{
    border: 8px solid green;
}
.healthy:hover,#HEALTHY:checked + label{
    background-image: url('../Modal_Img/healthy.jpg');
}
.gourmet:hover,#GOURMET:checked + label{
    background-image: url('../Modal_Img/gourmet.jpg');
}
.matinal:hover,#MATINAL:checked + label{
    background-image: url('../Modal_Img/matinal.jpeg');
}
.flex ul li input[type=checkbox]:checked + label{
    border: 5px solid green;
}
.modalPetitDej .flex ul li input:checked + label div span{
    border-bottom: 1px solid green;
}
.modalPetitDej .flex ul li input:checked + label div small{
    border-top: 1px solid green;
}
.Tarte_au_citron:hover,#Tarte_au_citron:checked + label,#Tarte_au_citronn:checked+label{
    background-image: url("../Modal_Img/tarteCitron.jpeg");
}
.Tiramisu_café:hover,#Tiramisu_café:checked +label,#Tiramisuu_café:checked+label{
    background-image: url('../Modal_Img/tiramisuCafé.jpeg');
}
.Fondant_pistache:hover,#Fondant_pistache:checked +label,#Tiramisu_spécalus-nutella:checked+label{
    background-image: url('../Modal_Img/pistache.jpeg');
}
.Fondant_Chocolat:hover,#Fondant_Chocolat:checked +label,#Red_velvett:checked+label{
    background-image: url('../Modal_Img/-fondantChocolat.jpeg');
}
.Cheesecake_caramel:hover,#Cheesecake_caramel:checked+label,#Cheesecake_caramell:checked+label{
    background-image: url('../Modal_Img/cheesecakeCaramel.jpg');
}
.Red_velvet:hover,#Red_velvet:checked+label,#Fondant_Chocolatt:checked+label{
    background-image: url('../Modal_Img/redVelvet.jpg');
}
.Tiramisu_spécalus:hover,#Tiramisu_spécalus_nutella:checked+label,#Fondant_pistachee:checked+label{
    background-image: url('../Modal_Img/tiramisuSpeculoos.jpeg');
}
.bkgSalade:hover{
    background-image: url('../Modal_Img/salade.jpg');
}
.bkgPetitDéj:hover{
    background-image: url('../Modal_Img/petitDéj.jpg');
}
.bkgDessert:hover{
    background-image: url('../Modal_Img/dessert.jpg');
}
.bkgPers:hover{
    background-image: url('../Modal_Img/saladePersonnalisé.jpeg');
}
.bkgRec:hover{
    background-image: url('../Modal_Img/saladeRecommandé.jpg')
}
.Bases ul li:nth-child(1){
    background-image: url('../Modal_Img/baseRiz.jpeg');
}
.Bases ul li:nth-child(2){
    background-image: url('../Modal_Img/basePateCompléte.jpg');
}
.Bases ul li:nth-child(3){
    background-image: url('../Modal_Img/baseBoulgour.jpg');
}
.Bases ul li:nth-child(4){
    background-image: url('../Modal_Img/baseLaitue.png');
}
.Bases ul li:nth-child(5){
    background-image: url('../Modal_Img/baseNouilleRiz.jpg');
}
.Bases ul li:nth-child(6){
    background-image: url('../Modal_Img/baseVermicelles.jpg');
}
.Bases ul li:nth-child(7){
    background-image: url('../Modal_Img/baseQuinoa.jpg');
}


.sup4 ul li:nth-child(1){
    background-image: url('../Modal_Img/ingCrevAmande.jpg');
}
.sup4 ul li:nth-child(2){
    background-image: url('../Modal_Img/ingCrevNat.png');
}
.sup4 ul li:nth-child(3){
    background-image: url('../Modal_Img/ingCrevEpic.jpg');
}
.sup4 ul li:nth-child(4){
    background-image: url('../Modal_Img/ingChamp.jpg');
}
.sup25 ul li:nth-child(1){
    background-image: url('../Modal_Img/ingEscalopeHerbe.jpeg');
}
.sup25 ul li:nth-child(2){
    background-image: url('../Modal_Img/ingEscalopeMielSésame.jpeg');
}
.sup25 ul li:nth-child(3){
    background-image: url('../Modal_Img/ingEsxalopeEpicée.jpg');
}
.sup25 ul li:nth-child(4){
    background-image: url('../Modal_Img/ingFromageParmesan.jpeg');
}
.sup25 ul li:nth-child(5){
    background-image: url('../Modal_Img/ingStracciatella.jpg');
}
.sup25 ul li:nth-child(6){
    background-image: url('../Modal_Img/ingAnanas.jpeg');
}
.sup25 ul li:nth-child(7){
    background-image: url('../Modal_Img/ingThon.jpg');
}
.sup25 ul li:nth-child(8){
    background-image: url('../Modal_Img/ingTomateSéché.jpg');
}
.sup25 ul li:nth-child(9){
    background-image: url('../Modal_Img/ingNoix.jpg');
}
.egal15 ul li:nth-child(1){
    background-image: url('../Modal_Img/ingJambon.jpg');
}
.egal15 ul li:nth-child(2){
    background-image: url('../Modal_Img/baseRicotta.jpg');
}
.egal15 ul li:nth-child(3){
    background-image: url('../Modal_Img/ingAubergine.jpg');
}
.egal15 ul li:nth-child(4){
    background-image: url('../Modal_Img/ingHaricot-rouge.jpg');
}
.egal15 ul li:nth-child(5){
    background-image: url('../Modal_Img/ingOignonCaramélisé.jpg');
}
.egal15 ul li:nth-child(6){
    background-image: url('../Modal_Img/ingTomateCerise.jpg');
}
.egal15 ul li:nth-child(7){
    background-image: url('../Modal_Img/ingMais.jpg');
}
.egal15 ul li:nth-child(8){
    background-image: url('../Modal_Img/ingDatteKiwi.jpg');
}
.egal15 ul li:nth-child(9){
    background-image: url('../Modal_Img/ingAbricotSec.jpg');
}
.egal15 ul li:nth-child(10){
    background-image: url('../Modal_Img/ingNoisette.jpg');
}
.egal15 ul li:nth-child(11){
    background-image: url('../Modal_Img/ingPommeDeTerreEpicé.jpg');
}
.egal15 ul li:nth-child(12){
    background-image: url('../Modal_Img/ingSardines.jpg');
}
.egal1 ul li:nth-child(1){
    background-image: url('../Modal_Img/ingBetterave.jpg');
}

.egal1 ul li:nth-child(2){
    background-image: url('../Modal_Img/ingPimentConcombre.jpg');
}

.egal1 ul li:nth-child(3){
    background-image: url('../Modal_Img/ingCarottePommeDeTerre.jpg');
}

.egal1 ul li:nth-child(4){
    background-image: url('../Modal_Img/ingChou.jpg');
}

.egal1 ul li:nth-child(5){
    background-image: url('../Modal_Img/ingLentilles.jpg');
}

.egal1 ul li:nth-child(6){
    background-image: url('../Modal_Img/ingOeufPoché.jpg');
}

.egal1 ul li:nth-child(7){
    background-image: url('../Modal_Img/ingAmandeEfiilé.jpg');
}

.egal08 ul li:nth-child(1){
    background-image: url('../Modal_Img/ingOeuf.jpg');
}

.egal08 ul li:nth-child(2){
    background-image: url('../Modal_Img/ingOlive.jpg');
}

.egal08 ul li:nth-child(3){
    background-image: url('../Modal_Img/ingCacahuéte.jpg');
}

.egal05 ul li:nth-child(1){
    background-image: url('../Modal_Img/ingZestaCitron.jpg');
}

.egal05 ul li:nth-child(2){
    background-image: url('../Modal_Img/ingChia.jpg');
}

.egal05 ul li:nth-child(3){
    background-image: url('../Modal_Img/ingGrainTournesol.jpg');
}

.egal05 ul li:nth-child(4){
    background-image: url('../Modal_Img/ingSesame.jpg');
}

.Sauce ul li:nth-child(1){
    background-image: url('../Modal_Img/sauceVinaigrette.jpeg');
}

.Sauce ul li:nth-child(2){
    background-image: url('../Modal_Img/sauceMiel-et-moutarde.jpeg');
}

.Sauce ul li:nth-child(3){
    background-image: url('../Modal_Img/sauceAsiatique.jpg');
}

.Sauce ul li:nth-child(4){
    background-image: url('../Modal_Img/sauceMielBalsamique.jpg');
}

.Sauce ul li:nth-child(5){
    background-image: url('../Modal_Img/sauceEpicée.jpeg');
}

.Sauce ul li:nth-child(6){
    background-image: url('../Modal_Img/sauceGrecque.jpeg');
}

.Sauce ul li:nth-child(7){
    background-image: url('../Modal_Img/sauceAgrumes.jpg');
}

.Sauce ul li:nth-child(8){
    background-image: url('../Modal_Img/saucePesto.jpg');
}

.Sauce ul li:nth-child(9){
    background-image: url('../Modal_Img/baseQuinoa.jpg');
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.7rem;
    width: 100%;
}
th{
    padding: 9px;
    background-color: gold;
    font-size: 1.3em;
    color: white;
}
td{
    border: 1px solid rgb(190, 190, 190);
    padding: 9px;
}
.bigSizeTable{
    color: green;
    text-align: center;
    font-weight: bold;
    border: 2px solid green;
}